*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hiden{
  display: none;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C313C;
}

.container{
  width: 60%;
  height: 60%;
  margin: 0 auto;
  background-color: brown;
}

.slider{
  height: 100%;
  position: relative;
}

.items-wrapper{
  height: 100%;
  position: relative;
}

.items-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottone{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.355);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  color:white;
  cursor: pointer;
}

.bottone:hover{
 background-color: rgba(255, 255, 255, 0.827);
 color: black;

}

.bt-top{
  top: 10px ;

}

.bt-bottom{

  bottom: 10px;
}

.text{
position: absolute;
color: white;
text-align: right;
right: 10px;
bottom: 15px;

}